<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Edit post</title>
  <meta name="description" content="adding or editing a post">
  <meta name="author" content="ct">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>

<body>
    <form action="/posts/<%=id%>" method="POST">
      <input type="text" name="titlename" value="<%=post.title%>">
      <input type="text" name="bodyname" value="<%=post.body%>">
      <input type="submit" value="Submit changes">
    </form>
    <button id="thisone">Delete</button>
    <script>
        $(document).ready(function(){$("#thisone").click(function(){$.ajax({url:"/posts/<%=id%>", type:"DELETE", success:function(result){window.location.replace("/posts?message=Deleted")}})})})
    </script>
</body>
</html>