<h1>this is edit post html </h1>

<div ng-controller="editController">

    <table>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Date Created</th>
        </tr>
        <tr>
            <td>{{ content[0].title }}</td>
            <td>{{ content[0].body }}</td>
            <td>{{ content[0].created }}</td>
        </tr>
    </table>    

    <form ng-submit="savePost(content[0]._id)">
        <input type="text" ng-model="myForm.tit" placeholder="{{content[0].title}}">
        <input type="text" ng-model="myForm.bod" placeholder="{{content[0].body}}">
        <input type="submit" value="Save changes">
    </form>

    <button ng-click="deletePost(content[0]._id)">Delete post</button>

    <a href="#!/">Back to main</a>


    <p>Data : {{content}}</p>
    <p>Status : {{statuscode}}</p>
    <p>StatusText : {{statustext}}</p>

</div>
