<h1>this is new post html </h1>

<div ng-controller="newController">

    <form ng-submit="newPost()">
        <input type="text" ng-model="formData.tit" placeholder="title">
        <input type="text" ng-model="formData.bod" placeholder="body">
        <input type="submit" value="Create new post">
    </form>


    <a href="#!/">Back to main</a>


    <p>Data : {{content}}</p>
    <p>Status : {{statuscode}}</p>
    <p>StatusText : {{statustext}}</p>

</div>
