<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>New post</title>
  <meta name="description" content="new post">
  <meta name="author" content="ct">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>

<body>
    <form action="/posts/<%=id%>" method="POST">
      <input type="text" name="titlename" placeholder="new title here">
      <input type="text" name="bodyname" placeholder="new body here">
      <input type="submit" value="Add new post">
    </form>
</body>
</html>