<h1>this is posts html </h1>

<div ng-controller="postsController">
    <table>
        <tr>
            <th>Title</th>
        </tr>
        <tr ng-repeat="x in content">
            <td>{{ x.title }}</td>
            <td><a href="#!post/{{x._id}}"> more.. </a></td>            
        </tr>
        <tr>
            <td><a href="#!new"> Create new post </a></td>
        </tr>
    </table>    

<p>{{message}}</p>

<p>Data : {{content}}</p>
<p>Status : {{statuscode}}</p>
<p>StatusText : {{statustext}}</p>

</div>
