<h1>this is individual post html </h1>

<div ng-controller="postController">
    <table>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Date Created</th>
        </tr>
        <tr ng-repeat="x in content">
            <td>{{ x.title }}</td>
            <td>{{ x.body }}</td>
            <td>{{ x.created }}</td>
            <td><a href="#!edit/{{x._id}}">edit</a></td>
<!--             <td><button href="#!post/{{x._id}}">Delete</button></td>            
 -->        </tr>
    </table>    


    <a href="#!/">Back to main</a>



    <p>Data : {{content}}</p>
    <p>Status : {{statuscode}}</p>
    <p>StatusText : {{statustext}}</p>

</div>
