<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The selected post</title>
  <meta name="description" content="the selected post">
  <meta name="author" content="ct">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>
<body>
    <table>
      <tr>
        <th>Title</th>
        <th>Body</th>
      </tr>
      <tr>
        <td><%=post.title%></td>
        <td><%=post.body%></td>
        <td><a href="/posts/edit/<%=id%>">Edit</a></td>
      </tr>
    </table>
</body>
</html>



