<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>List of all posts</title>
  <meta name="description" content="list of posts">
  <meta name="author" content="ct">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>
<body>
        <table>
            <tr>
                <th>Title</th>
            </tr>
            <% posts.forEach(function(post,i) { %>
                <tr>
                    <td><a href="/posts/<%=i+1%>"><%=post.title%></a></td>
                </tr>
            <% }); %>
            <tr>
                <td><a href="/posts/edit/<%=posts.length+1%>">Add new post</a></td>
            </tr>
        </table>
        <h3><%=message%></h3>

</body>
</html>



